.item-picture{
  object-fit: contain;
  height: 350px;
  width:95%;
}
body{
  background-color: Ghostwhite;
  overflow-x:hidden;
}

.list-item{
  border: 1px solid lightgrey;
  background-color: white;
}
.list-item >p{
  font-size: 1.5rem;
}

.detail-image{
  max-width: 50%;
  margin-left:1rem;
}
.product-details{
  background-color: white;
  border: 1px solid lightgrey;
}

.back-text{
  cursor: pointer;
}
