.item-picture{
  object-fit: contain;
  height: 350px;
  width:95%;
}
body{
  background-color: Ghostwhite;
  overflow-x:hidden;
}
.w-35{
  width:35%;
}
.order-item-row{
  justify-content: space-between;
}
.header-title{
  cursor: pointer;
}
.bg-purple{
  background-color: rebeccapurple;
}
.list-item, .product-details,.summary-item{
  border: 1px solid lightgrey;
  background-color: white;
}
.list-item >p{
  font-size: 1.5rem;
}

.detail-image{
  max-width: 50%;
  margin-left:1rem;
}

.back-text{
  cursor: pointer;
  color:grey;
}
.top-order-row{
  justify-content: space-between;
}
.cart{
  cursor: pointer;
}
.summary-img{
  width:25%;
  object-fit: contain;
  max-height:300px;
}
.bottom-cart-row{
    justify-content: space-around;
  }
@media only screen and (max-width: 600px){
  .product-list-item{
    max-width:90%;
    flex:none;
  }
  .order-item-row{
    justify-content: flex-end;
  }
  .bottom-cart-row{
    justify-content: flex-end;
  }
  .summary-img{
  width:25%;
  max-height:200px;
  margin-right:.5rem;
}
.top-order-row{
  justify-content: flex-start;
}
}
